# ============================================================================
# CONTEXTO DE EJECUCIÓN
# ============================================================================
# Define el dominio, proyecto y ambiente activo
# utilizado por el framework para resolver
# variables dinámicas de configuración.
#
# Convención utilizada:
# DOMAIN_PROJECT_ENV_VARIABLE
#
# Ejemplo:
# PAYS_BPAGOS_CERT_URL
# ============================================================================

DOMAIN=
PROJECT=
ENV=

# ============================================================================
# DOMINIO: PAYS | PROYECTO: BPAGOS | AMBIENTE: CERT
# ============================================================================
# Configuración principal del BackOffice PayStudio
PAYS_BPAGOS_CERT_URL=

# URL del Portal de Comercio
PAYS_BPAGOS_CERT_PORTAL_URL=

# Credenciales principales del BackOffice
PAYS_BPAGOS_CERT_USER=
PAYS_BPAGOS_CERT_PASS=

# Credenciales administrativas del Portal
PAYS_BPAGOS_CERT_PORTAL_SUPERADMIN_USER=
PAYS_BPAGOS_CERT_PORTAL_SUPERADMIN_PASS=

# ============================================================================
# DOMINIO: PAYS | PROYECTO: GETNET | AMBIENTE: CERT
# ============================================================================
# Configuración principal del BackOffice PayStudio
PAYS_GETNET_CERT_URL=

# URL del Portal de Comercio
PAYS_GETNET_CERT_PORTAL_URL=

# Credenciales principales del BackOffice
PAYS_GETNET_CERT_USER=
PAYS_GETNET_CERT_PASS=

# Credenciales administrativas del Portal
PAYS_GETNET_CERT_PORTAL_SUPERADMIN_USER=
PAYS_GETNET_CERT_PORTAL_SUPERADMIN_PASS=

# ============================================================================
# CONFIGURACIÓN DEL SISTEMA DE LOGS
# ============================================================================
# Nivel de detalle del logger:
# silly | debug | info | warn | error
LOG_LEVEL=

# Tamaño máximo por archivo rotativo
LOG_MAX_SIZE=

# Cantidad máxima de archivos históricos
LOG_MAX_FILES=

# Directorio de almacenamiento de logs
LOG_DIR=