# ==============================================================================
# CONFIGURACIÓN DE PROYECTO (TEMPLATE)
# ==============================================================================
DOMAIN=PAYS
PROJECT=BPAGOS
ENV=CERT

# ==============================================================================
# DOMINIO: PAYS | PROYECTO: BPAGOS
# ==============================================================================
PAYS_BPAGOS_CERT_URL=
PAYS_BPAGOS_CERT_PORTAL_URL=
PAYS_BPAGOS_CERT_USER=
PAYS_BPAGOS_CERT_PASS=

# Credenciales Portal de Comercio BPAGOS (CERT)
PAYS_BPAGOS_CERT_PORTAL_SUPERADMIN_USER=
PAYS_BPAGOS_CERT_PORTAL_SUPERADMIN_PASS=

# ==============================================================================
# DOMINIO: PAYS | PROYECTO: GETNET
# ==============================================================================
PAYS_GETNET_CERT_URL=
PAYS_GETNET_CERT_PORTAL_URL=
PAYS_GETNET_CERT_USER=
PAYS_GETNET_CERT_PASS=

# Credenciales Portal de Comercio GETNET (CERT)
PAYS_GETNET_CERT_PORTAL_SUPERADMIN_USER=
PAYS_GETNET_CERT_PORTAL_SUPERADMIN_PASS=